body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #ec5f72;
    color: white;
    font-size: 30;
    text-align: center;
    padding: 1em;
}

main {
    color: rgb(235, 77, 103);
    font-size: 30;
    text-align: center;
    padding: 20px;
}

canvas {
    border: 2px solid #fff;
    display: none; /* Ẩn canvas khi chưa bắt đầu game */
}

#messageChauAnh {
    display: none; /* Ẩn dòng chữ mặc định */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#PongGame
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex; /* Sử dụng Flexbox để căn giữa hai phần */
    justify-content: center; /* Căn giữa các phần tử */
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; /* Khoảng cách giữa hai phần tử (hình ảnh và nút) */
    padding: 20px; /* Khoảng cách cho container */
}

.image-container {
    display: flex; /* Sử dụng Flexbox để căn giữa hình ảnh và nút */
    flex-direction: column; /* Xếp chồng hình ảnh và nút theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
}

.image {
    max-width: 50%; /* Hình ảnh không vượt quá chiều rộng của container */
    height: auto; /* Giữ tỉ lệ khung hình */
    margin-bottom: 10px; /* Khoảng cách 10px giữa hình ảnh và nút */
    border-radius: 8px; /* Bo góc cho hình ảnh */
}

.my-button {
    padding: 10px 20px; /* Khoảng cách bên trong nút */
    background-color: #4CAF50; /* Màu nền của nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ chuột thành tay khi hover */
}

.my-button:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

.my-button:active {
    background-color: #4CAF50; /* Màu nền khi active */
}

.no-active-hover:active {
    background-color: #4CAF50; /* Giữ nguyên màu nền khi nhấn */
}

.no-active-hover:hover {
    background-color: #4CAF50; /* Giữ nguyên màu nền khi nhấn */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}